
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
    color: #000;
}

body{
    background-color: #001c31;
    color: #e9f7ff;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding: 0 0 0 4rem ;
    background-color: #001c31;
    height: 100vh;
}

.left{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding:  0 5rem 2rem 0 ;
}

.left .logo{
    width: 100%;
    margin-bottom: 2rem;
}
.left .logo img{
    width: 25%;
}

.left p{
    font-size: 1.2rem;
}

.right{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 4rem;
    background-color: #fff;
}
.right form{
    width: 100%;
}

.right .input-group{
    color: #001c31;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.right .input-group .input{
    font-size: 1rem;
    display: flex;
    flex-direction: column; 
    width: 100%;
    gap: .5rem;
    margin-bottom: .7rem;
}

input, select, textarea{
    padding:  .6rem;
    outline: 1px solid #001c3199;
    border: none;
    transition: all .1s ease;
}

input:hover, select:hover, textarea:hover{
    padding:  .6rem;
    outline: 2px solid #001c31;
}

input:focus, select:focus, textarea:focus{
    padding:  .6rem;
    outline: 2px solid #001c31;
}

.btn-submit button{
    background-color: #001c31;
    color: #fff;
    padding: .5rem 3rem;
    border: 2px solid #001c31;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 200;
    transition: all .3s ease-in-out;
}

.btn-submit button:hover{
    background-color: #fff;
    color: #001c31;
    /* border: 2px solid #001c31; */
}

@media screen and (max-width: 1000px){
    .contact{
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .left{
        flex: 1;
        padding: 3rem 2rem;
    }

    .right{
        flex: 1;
        padding: 2rem;
    }

    
    input, select, textarea{
        padding:  .5rem 0;
        outline: 1px solid #001c3199;
        border: none;
        transition: all .1s ease;
    }

    .btn-submit btn{
        padding: 1rem;
    }
}

@media screen and (max-width: 650px){
    .input-group{
        flex-direction: column;
        gap: 1rem;
    }
}

/* screen size big then 1440 */

@media screen and (min-width: 1439px){
     .contact *{
        font-size: 1.8rem ;
     }
    
}